@font-face {
    font-family: 'font1';
    src: url(font1.ttf);
}

body{
    padding: 0;
    margin: 0;
    background-image: url(../slike/pozadina.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    cursor: url("../ikonice/cursor.png"), auto;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: font1, cursive;
}
.stranica{
    margin: 0px auto;
    padding: 0px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.7);
}


.gornji{
    display: flex;
    padding: 10px;
}
.logo{
    flex-grow: 1;
    text-align: left;
    align-items: center;
}
.naslov{
    flex-grow: 5;
    text-align: left;
    margin: 0px;
    padding-top: 45px;
/* kako da ga centriram po verikali */
}
.mreze{
    flex-grow: 1;   
    text-align: right;
}
.mreze a {
    text-decoration: none;
}
.mreze img:hover {
    border: 2px solid rgba(84, 128, 80, 0.5);
    border-radius: 3px;
}
.mreze img {
    padding: 10px;
    margin-top: 35px;
}
nav {
    display: flex;
    margin: 0px;
    background-color: rgba(23, 92, 17, 0.5);
    border-bottom: 1px ridge black;
    border-top: 1px ridge black;
}
nav a {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 18px; 
    transition: 300ms;
}
nav a:hover,
.active {
    background-color: rgba(0, 0, 0, 0.8);
}
nav a:active {
    background-color:rgba(97, 236, 4, 0.5);
}


#kontakt {
    background-color: rgba(23, 92, 17, 0.5);
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px ridge black;
    border-top: 1px ridge black;

}
.donji p {
    margin: 0px;
}
.donji ul {
    line-height: 30px;
    list-style: none;
    margin: 0px;
}
#broj {
    list-style-image: url(../ikonice/phone.png);
    line-height: 25px;
}
#mail {
    list-style-image: url(../ikonice/mail.png);
}
/* kako da centriram tekst u odnosu na ikonicu */

footer p {
    margin: 0px;
    text-align: center;
}


.button {
    background-color: rgba(23, 92, 17, 0.5);
    box-shadow: 5px 8px 8px 2px #000000;
	border-radius:3px;
	border:1px solid rgb(1, 26, 3);
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:15px;
	padding:6px 24px;
    text-decoration:none;
    margin: 15px;
}
.button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.button:active {
    background-color:rgba(97, 236, 4, 0.5);
}
#dugme {
    text-align: right;
}


.glavni-deo {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.glavni-deo h2 {
    text-align:center;
    margin-bottom: 0px;
    margin-top: 40px;
}
.glavnisadrzaj {
    flex-grow: 1;
}
.glavnisadrzaj {
    display: inline-flex;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}
.glavnitekst {
    flex-grow: 1;
    border-bottom: 1px solid black;
    text-align: justify;
}
#dalisteznalitekst {
    padding-bottom: 20px;
}
.glavneslike {
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 5px;
}
#onama {
    height: 80vh;
    text-align: justify;
}
.glavni-deo1 {
    height: 100vh;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}
.glavnisadrzaj2 p{
    text-align: justify;
}
.glavnisadrzaj2 ul {
    list-style-type: none;
    list-style-image: url(../ikonice/rsz_dzojstik.png);
}
.napomena {
    margin: 0px;
    padding: 3px;
    background-color: rgba(23, 92, 17, 0.2);
}
.napomena p {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
.napomena p a {
    text-decoration: none;
    color: chartreuse;
    text-shadow: 10px 9px 4px rgba(0,0,0,0.92);
}
#ponuda h3 {
    text-align: center;
}
.sadrzajponuda {
    display: flex;
    font-size: 20px;
}
.tekstponuda {
    flex-grow: 1;
    text-align: center;
    padding-bottom: 20px;
}


a, .button, select {
    cursor: url("../ikonice/rsz_dzojstik.png"), auto;
}


.sadrzajponuda select {
    border: 2px solid rgba(84, 128, 80, 0.5);
    border-radius: 3px;
    background-color:rgba(97, 236, 4, 0.5);
    padding: 7px;
    color: white;
    font-size: 20px;
}
.sadrzajponuda select:hover {
    background-color: rgba(23, 92, 17, 0.5);
}
/* kako da nema okvir kad kliknem pa zatvorim ponovnim klikom */
.sadrzajponuda select option {
    color: white;
    background-color: rgba(14, 49, 10, 0.918);
}
#kontakt a {
    color: white;
}